#icono {
    margin-left: 1.5rem;
    margin-top: 2rem;
}

#card {
    margin-left: 20rem;
    margin-top: 2rem;
    height: 4rem;
}

#card {
    margin-left: 20rem;
    margin-top: 2rem;
    height: 4rem;
    border-radius: 2rem;
}

#imagen {}

#line {
    font-size: 10px;
    align-self: center;
    height: 0.1vmin;
}

#segment {}

#boton {
    margin-top: 2rem;
    margin-left: 1.5rem;
}

#letras {}


/* 
#letras2 {
    margin-right: 15rem;
}

#letras3 {
    margin-right: 13.5rem;
    text-decoration: orchid;
} */